# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [179]:
# Libraries
import pandas as pd
import numpy as np
import string

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [180]:
# your code here
admissions_predict = pd.read_csv('../your-code/Admission_Predict.csv')
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [181]:
admissions_predict.columns = admissions_predict.columns.str.strip()

In [182]:
admissions_predict.columns
null_displ = admissions_predict.isnull()==True
null_displ

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False
398,False,False,False,False,False,False,False,False,False
399,False,False,False,False,False,False,False,False,False

Let's evaluate the dataset by looking at the `head` function.

In [183]:
# your code here
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [184]:
# your code here
null_cols = admissions_predict.isnull().sum()
null_cols

#No missing data in the dataset.

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [185]:
# your code here

admissions_predict.set_index(['Serial No.'])

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

In [186]:
admissions_predict['Serial No.2'] = admissions_predict['Serial No.']

In [187]:
admissions_predict.set_index(['Serial No.'])

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2
Serial No.,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,1
2,324,107,4,4.0,4.5,8.87,1,0.76,2
3,316,104,3,3.0,3.5,8.00,1,0.72,3
4,322,110,3,3.5,2.5,8.67,1,0.80,4
5,314,103,2,2.0,3.0,8.21,0,0.65,5
...,...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82,396
397,325,107,3,3.0,3.5,9.11,1,0.84,397
398,330,116,4,5.0,4.5,9.45,1,0.91,398
399,312,103,3,3.5,4.0,8.78,0,0.67,399
400,333,117,4,5.0,4.0,9.66,1,0.95,400

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [188]:
# your code here

admissions_predict['GRE Score'].unique()

array([337, 324, 316, 322, 314, 330, 321, 308, 302, 323, 325, 327, 328,
       307, 311, 317, 319, 318, 303, 312, 334, 336, 340, 298, 295, 310,
       300, 338, 331, 320, 299, 304, 313, 332, 326, 329, 339, 309, 315,
       301, 296, 294, 306, 305, 290, 335, 333, 297, 293])

In [189]:
admissions_predict['CGPA'].unique()

array([9.65, 8.87, 8.  , 8.67, 8.21, 9.34, 8.2 , 7.9 , 8.6 , 8.4 , 9.  ,
       9.1 , 8.3 , 8.7 , 8.8 , 8.5 , 9.5 , 9.7 , 9.8 , 9.6 , 7.5 , 7.2 ,
       7.3 , 8.1 , 9.4 , 9.2 , 7.8 , 7.7 , 9.3 , 8.85, 7.4 , 7.6 , 6.8 ,
       8.92, 9.02, 8.64, 9.22, 9.16, 9.64, 9.76, 9.45, 9.04, 8.9 , 8.56,
       8.72, 8.22, 7.54, 7.36, 8.02, 9.36, 8.66, 8.42, 8.28, 8.14, 8.76,
       7.92, 7.66, 8.03, 7.88, 7.84, 8.96, 9.24, 8.88, 8.46, 8.12, 8.25,
       8.47, 9.05, 8.78, 9.18, 9.46, 9.38, 8.48, 8.68, 8.34, 8.45, 8.62,
       7.46, 7.28, 8.84, 9.56, 9.48, 8.36, 9.32, 8.71, 9.35, 8.65, 9.28,
       8.77, 8.16, 9.08, 9.12, 9.15, 9.44, 9.92, 9.11, 8.26, 9.43, 9.06,
       8.75, 8.89, 8.69, 7.86, 9.01, 8.97, 8.33, 8.27, 7.98, 8.04, 9.07,
       9.13, 9.23, 8.32, 8.98, 8.94, 9.53, 8.52, 8.43, 8.54, 9.91, 9.87,
       7.65, 7.89, 9.14, 9.66, 9.78, 9.42, 9.26, 8.79, 8.23, 8.53, 8.07,
       9.31, 9.17, 9.19, 8.37, 7.68, 8.15, 8.73, 8.83, 8.57, 9.68, 8.09,
       8.17, 7.64, 8.01, 7.95, 8.49, 7.87, 7.97, 8.18, 8.55, 8.74, 8.13,
       8.44, 9.47, 8.24, 7.34, 7.43, 7.25, 8.06, 7.67, 9.54, 9.62, 7.56,
       9.74, 9.82, 7.96])

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [190]:

admissions_predict.set_index(['CGPA', 'GRE Score'])

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Serial No.2
CGPA,GRE Score,,,,,,,,
9.65,337,1,118,4,4.5,4.5,1,0.92,1
8.87,324,2,107,4,4.0,4.5,1,0.76,2
8.00,316,3,104,3,3.0,3.5,1,0.72,3
8.67,322,4,110,3,3.5,2.5,1,0.80,4
8.21,314,5,103,2,2.0,3.0,0,0.65,5
...,...,...,...,...,...,...,...,...,...
9.04,324,396,110,3,3.5,3.5,1,0.82,396
9.11,325,397,107,3,3.0,3.5,1,0.84,397
9.45,330,398,116,4,5.0,4.5,1,0.91,398
8.78,312,399,103,3,3.5,4.0,0,0.67,399
9.66,333,400,117,4,5.0,4.0,1,0.95,400

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [191]:
# your code here
admissions_predict.reset_index(inplace=True)

In [192]:
admissions_predict

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76,2
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72,3
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80,4
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65,5
...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82,396
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,397
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91,398
398,398,399,312,103,3,3.5,4.0,8.78,0,0.67,399
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95,400

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [193]:
admissions_predict.loc[(admissions_predict['CGPA'] >9 )&(admissions_predict['Research'] >= 1)]

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
5,5,6,330,115,5,4.5,3.0,9.34,1,0.90,6
12,12,13,328,112,4,4.0,4.5,9.10,1,0.78,13
22,22,23,328,116,5,5.0,5.0,9.50,1,0.94,23
23,23,24,334,119,5,5.0,4.5,9.70,1,0.95,24
...,...,...,...,...,...,...,...,...,...,...,...
394,394,395,329,111,4,4.5,4.0,9.23,1,0.89,395
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82,396
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,397
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91,398
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95,400

In [194]:
# your code here

(admissions_predict['index'].loc[(admissions_predict['CGPA'] >9 )&(admissions_predict['Research'] >= 1)]).count()

104

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [195]:
# your code here
admissions_predict.loc[(admissions_predict['CGPA'] > 9 )&(admissions_predict['SOP'] < 3.5)]

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2
32,32,33,338,118,4,3.0,4.5,9.40,1,0.91,33
66,66,67,327,114,3,3.0,3.0,9.02,0,0.61,67
147,147,148,326,114,3,3.0,3.0,9.11,1,0.83,148
229,229,230,324,111,4,3.0,3.0,9.01,1,0.82,230
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,397

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [196]:
"""
This function takes a column from a dataframe 
and returns a standardized column by subtracting the column's mean
and dividing by the column's standard deviation.
"""

"\nThis function takes a column from a dataframe \nand returns a standardized column by subtracting the column's mean\nand dividing by the column's standard deviation.\n"

In [197]:
standarize = lambda x: (x-x.mean()) / x.std()

admissions_predict.pipe(standarize)

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2
0,-1.725565,-1.725565,1.759903,1.744786,0.797829,1.092496,1.165861,1.762611,0.907975,1.371930,-1.725565
1,-1.716916,-1.716916,0.626871,-0.067551,0.797829,0.595907,1.165861,0.454582,0.907975,0.249984,-1.716916
2,-1.708266,-1.708266,-0.070379,-0.561824,-0.076504,-0.397271,0.052867,-1.004373,0.907975,-0.030503,-1.708266
3,-1.699617,-1.699617,0.452559,0.426723,-0.076504,0.099318,-1.060127,0.119190,0.907975,0.530470,-1.699617
4,-1.690967,-1.690967,-0.244691,-0.726582,-0.950838,-1.390450,-0.503630,-0.652212,-1.098599,-0.521354,-1.690967
...,...,...,...,...,...,...,...,...,...,...,...
395,1.690967,1.690967,0.626871,0.426723,-0.076504,0.099318,0.052867,0.739665,0.907975,0.670713,1.690967
396,1.699617,1.699617,0.714028,-0.067551,-0.076504,-0.397271,0.052867,0.857052,0.907975,0.810957,1.699617
397,1.708266,1.708266,1.149809,1.415270,0.797829,1.589085,1.165861,1.427219,0.907975,1.301808,1.708266
398,1.716916,1.716916,-0.419004,-0.726582,-0.076504,0.099318,0.609364,0.303656,-1.098599,-0.381111,1.716916
399,1.725565,1.725565,1.411278,1.580028,0.797829,1.589085,0.609364,1.779380,0.907975,1.582295,1.725565

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [198]:
# your code here

admissions_predict[['CGPA_std','GRE_std','LOR_std']] = admissions_predict[['CGPA','GRE Score','LOR']].pipe(standarize)

In [199]:
admissions_predict

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2,CGPA_std,GRE_std,LOR_std
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.762611,1.759903,1.165861
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76,2,0.454582,0.626871,1.165861
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72,3,-1.004373,-0.070379,0.052867
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80,4,0.119190,0.452559,-1.060127
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65,5,-0.652212,-0.244691,-0.503630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82,396,0.739665,0.626871,0.052867
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,397,0.857052,0.714028,0.052867
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91,398,1.427219,1.149809,1.165861
398,398,399,312,103,3,3.5,4.0,8.78,0,0.67,399,0.303656,-0.419004,0.609364
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95,400,1.779380,1.411278,0.609364

We will generate the decision choice at random using the code below. Please run the cell.

In [200]:
# Libraries
from random import choices

In [201]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

admissions_predict['decision_choice'] = choices(std_columns, k=admissions_predict.shape[0])

admissions_predict

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2,CGPA_std,GRE_std,LOR_std,decision_choice
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.762611,1.759903,1.165861,CGPA_std
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76,2,0.454582,0.626871,1.165861,LOR_std
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72,3,-1.004373,-0.070379,0.052867,GRE_std
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80,4,0.119190,0.452559,-1.060127,GRE_std
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65,5,-0.652212,-0.244691,-0.503630,CGPA_std
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82,396,0.739665,0.626871,0.052867,GRE_std
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,397,0.857052,0.714028,0.052867,LOR_std
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91,398,1.427219,1.149809,1.165861,LOR_std
398,398,399,312,103,3,3.5,4.0,8.78,0,0.67,399,0.303656,-0.419004,0.609364,GRE_std
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95,400,1.779380,1.411278,0.609364,CGPA_std

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [202]:
# your code here

admissions_predict['deciding_column'] = admissions_predict.lookup(admissions_predict.index,
                                                                  admissions_predict['decision_choice'])

In [203]:
admissions_predict

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.762611,1.759903,1.165861,CGPA_std,1.762611
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76,2,0.454582,0.626871,1.165861,LOR_std,1.165861
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72,3,-1.004373,-0.070379,0.052867,GRE_std,-0.070379
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80,4,0.119190,0.452559,-1.060127,GRE_std,0.452559
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65,5,-0.652212,-0.244691,-0.503630,CGPA_std,-0.652212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82,396,0.739665,0.626871,0.052867,GRE_std,0.626871
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,397,0.857052,0.714028,0.052867,LOR_std,0.052867
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91,398,1.427219,1.149809,1.165861,LOR_std,1.165861
398,398,399,312,103,3,3.5,4.0,8.78,0,0.67,399,0.303656,-0.419004,0.609364,GRE_std,-0.419004
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95,400,1.779380,1.411278,0.609364,CGPA_std,1.779380

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [204]:
# your code here

admissions_predict['decision'] = [1 if x > 0.8 else 0 for x in admissions_predict['deciding_column']]

In [205]:
admissions_predict

,index,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Serial No.2,CGPA_std,GRE_std,LOR_std,decision_choice,deciding_column,decision
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.762611,1.759903,1.165861,CGPA_std,1.762611,1
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76,2,0.454582,0.626871,1.165861,LOR_std,1.165861,1
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72,3,-1.004373,-0.070379,0.052867,GRE_std,-0.070379,0
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80,4,0.119190,0.452559,-1.060127,GRE_std,0.452559,0
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65,5,-0.652212,-0.244691,-0.503630,CGPA_std,-0.652212,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82,396,0.739665,0.626871,0.052867,GRE_std,0.626871,0
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,397,0.857052,0.714028,0.052867,LOR_std,0.052867,0
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91,398,1.427219,1.149809,1.165861,LOR_std,1.165861,1
398,398,399,312,103,3,3.5,4.0,8.78,0,0.67,399,0.303656,-0.419004,0.609364,GRE_std,-0.419004,0
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95,400,1.779380,1.411278,0.609364,CGPA_std,1.779380,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [206]:
# your code here

admissions_predict['decision'].loc[admissions_predict['decision'] ==1 ].count()

93

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [207]:
# your code here

admissions_predict.columns = admissions_predict.columns.str.replace('\s','_')

In [208]:
admissions_predict.columns = admissions_predict.columns.str.lower()

In [209]:
admissions_predict

,index,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,serial_no.2,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision
0,0,1,337,118,4,4.5,4.5,9.65,1,0.92,1,1.762611,1.759903,1.165861,CGPA_std,1.762611,1
1,1,2,324,107,4,4.0,4.5,8.87,1,0.76,2,0.454582,0.626871,1.165861,LOR_std,1.165861,1
2,2,3,316,104,3,3.0,3.5,8.00,1,0.72,3,-1.004373,-0.070379,0.052867,GRE_std,-0.070379,0
3,3,4,322,110,3,3.5,2.5,8.67,1,0.80,4,0.119190,0.452559,-1.060127,GRE_std,0.452559,0
4,4,5,314,103,2,2.0,3.0,8.21,0,0.65,5,-0.652212,-0.244691,-0.503630,CGPA_std,-0.652212,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,324,110,3,3.5,3.5,9.04,1,0.82,396,0.739665,0.626871,0.052867,GRE_std,0.626871,0
396,396,397,325,107,3,3.0,3.5,9.11,1,0.84,397,0.857052,0.714028,0.052867,LOR_std,0.052867,0
397,397,398,330,116,4,5.0,4.5,9.45,1,0.91,398,1.427219,1.149809,1.165861,LOR_std,1.165861,1
398,398,399,312,103,3,3.5,4.0,8.78,0,0.67,399,0.303656,-0.419004,0.609364,GRE_std,-0.419004,0
399,399,400,333,117,4,5.0,4.0,9.66,1,0.95,400,1.779380,1.411278,0.609364,CGPA_std,1.779380,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [210]:
# your code here 
admissions_predict['gre_score'] = [x+10 if x >=4 else x for x in admissions_predict['university_rating']]

In [211]:
admissions_predict['adjusted_gre'] = pd.cut(admissions_predict['gre_score'],4)

In [212]:
admissions_predict

,index,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,serial_no.2,cgpa_std,gre_std,lor_std,decision_choice,deciding_column,decision,adjusted_gre
0,0,1,14,118,4,4.5,4.5,9.65,1,0.92,1,1.762611,1.759903,1.165861,CGPA_std,1.762611,1,"(11.5, 15.0]"
1,1,2,14,107,4,4.0,4.5,8.87,1,0.76,2,0.454582,0.626871,1.165861,LOR_std,1.165861,1,"(11.5, 15.0]"
2,2,3,3,104,3,3.0,3.5,8.00,1,0.72,3,-1.004373,-0.070379,0.052867,GRE_std,-0.070379,0,"(0.986, 4.5]"
3,3,4,3,110,3,3.5,2.5,8.67,1,0.80,4,0.119190,0.452559,-1.060127,GRE_std,0.452559,0,"(0.986, 4.5]"
4,4,5,2,103,2,2.0,3.0,8.21,0,0.65,5,-0.652212,-0.244691,-0.503630,CGPA_std,-0.652212,0,"(0.986, 4.5]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,396,3,110,3,3.5,3.5,9.04,1,0.82,396,0.739665,0.626871,0.052867,GRE_std,0.626871,0,"(0.986, 4.5]"
396,396,397,3,107,3,3.0,3.5,9.11,1,0.84,397,0.857052,0.714028,0.052867,LOR_std,0.052867,0,"(0.986, 4.5]"
397,397,398,14,116,4,5.0,4.5,9.45,1,0.91,398,1.427219,1.149809,1.165861,LOR_std,1.165861,1,"(11.5, 15.0]"
398,398,399,3,103,3,3.5,4.0,8.78,0,0.67,399,0.303656,-0.419004,0.609364,GRE_std,-0.419004,0,"(0.986, 4.5]"
399,399,400,14,117,4,5.0,4.0,9.66,1,0.95,400,1.779380,1.411278,0.609364,CGPA_std,1.779380,1,"(11.5, 15.0]"

In [222]:
admissions_predict['adjusted_gre'].unique()

[(11.5, 15.0], (0.986, 4.5]]
Categories (2, interval[float64]): [(0.986, 4.5] < (11.5, 15.0]]