## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [126]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [127]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)
len(sample_list_1)

[95, 35, 45, 67, 7, 38, 33, 24, 43, 87, 53, 63, 11, 90, 82, 64, 76, 28, 48, 71, 86, 30, 96, 72, 12, 55, 50, 44, 31, 80, 13, 58, 20, 61, 54, 99, 25, 57, 1, 78, 62, 81, 79, 36, 59, 19, 8, 51, 52, 75, 85, 49, 41, 27, 17, 91, 14, 60, 10, 94, 89, 9, 6, 88, 69, 68, 39, 46, 66, 26, 70, 47, 32, 73, 0, 18, 83, 34, 22, 15]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [128]:
# Your code here
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [146]:
# Your code here
sample_list_2 = random.choices(range(0,100),k=80)

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [147]:
# Your code here
set2 = set(sample_list_2)
print(set2)
len(set2)

{2, 3, 4, 6, 7, 8, 10, 12, 13, 14, 15, 21, 22, 23, 25, 26, 29, 31, 32, 33, 36, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 55, 59, 60, 61, 62, 63, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 86, 88, 89, 90, 91, 93, 94, 96}

60

In [1]:
from random import randint
sample_list_2 = [randint(0, 100) for i in range(80)]
print(sample_list_2)

[67, 46, 70, 84, 82, 75, 100, 85, 19, 52, 25, 81, 46, 2, 81, 12, 22, 48, 42, 19, 8, 59, 88, 34, 30, 11, 95, 31, 70, 60, 38, 19, 12, 88, 66, 55, 49, 79, 84, 97, 56, 78, 79, 82, 47, 52, 3, 80, 27, 51, 11, 3, 12, 52, 87, 43, 30, 99, 33, 3, 55, 92, 13, 5, 32, 16, 77, 68, 15, 52, 65, 83, 62, 97, 42, 96, 52, 0, 35, 30]

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [149]:
print(set1)
print(set2)
set3 = set(set1-set2)
print(set3)
len(set3)

{0, 1, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 99}
{2, 3, 4, 6, 7, 8, 10, 12, 13, 14, 15, 21, 22, 23, 25, 26, 29, 31, 32, 33, 36, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 55, 59, 60, 61, 62, 63, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 86, 88, 89, 90, 91, 93, 94, 96}
{0, 1, 64, 67, 68, 9, 11, 78, 79, 17, 18, 19, 20, 81, 82, 83, 24, 85, 87, 27, 28, 30, 95, 34, 35, 99, 45, 53, 54, 57, 58}

31

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [150]:
# Your code here

set4 = set(set2-set1)

print(set4)
len(set4)

{2, 3, 4, 40, 42, 74, 77, 93, 21, 23, 29}

11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [151]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
len(set5)

{6, 7, 8, 10, 12, 13, 14, 15, 22, 25, 26, 31, 32, 33, 36, 38, 39, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 55, 59, 60, 61, 62, 63, 66, 69, 70, 71, 72, 73, 75, 76, 80, 86, 88, 89, 90, 91, 94, 96}

49

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [155]:
# Your code here
if len(set1) > len(set2):
    print('True')

True

In [160]:
if len(set1) == len(set5) + len(set3):
    print('True')

True

In [161]:
if len(set2) == len(set5) + len(set4):
    print('True')

True

In [170]:
if len(set3) == len(set1)-len(set5):
     print('True')

True

In [166]:
if len(set4) == len(set2) - len(set5):
    print('True')

True

In [169]:
if len(set5) == len(set2) - len(set4):
    print('True')
if len(set5) == len(set1) - len(set3):
    print('True')

True
True

#### Create an empty set called `set6`.

In [171]:
# Your code here
set6 =set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [172]:
# Your code here
(set6.update(set5))
(set6.update(set3))
print(set6)

{0, 1, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 99}

#### Check if `set1` and `set6` are equal.

In [173]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [177]:
# Your code here
set2.issubset(set1)

False

In [176]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [178]:
# Your code here

set7 = set(set1.union(set2))
set8 = set(set3.union(set4,set5))

print(set7)
print(set8)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 99}
{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [179]:
# Your code here
print(set1)
set1.pop()

{0, 1, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 99}

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [180]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)
set1bis = set1-set_to_remove
print(set1bis)

{6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 75, 76, 78, 80, 82, 83, 85, 86, 87, 88, 90, 94, 95, 96}

In [ ]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)