In [3]:
def half(x):
    return x/2

In [4]:
l = [10, 12, 34, 23]
map(half, l)

In [5]:
list(map(half,l))

[5.0, 6.0, 17.0, 11.5]

In [13]:
#Does not work:
list(map(x/2,l))

TypeError: 'float' object is not callable

In [8]:
for x in map(half,l):
    print (x)

5.0
6.0
17.0
11.5

In [12]:
import numpy as np

In [15]:
ar = np.random.random(4)
ar

array([0.84090633, 0.39381224, 0.61892177, 0.90952254])

In [18]:
def greaterthan5(x):
    return x>0,5

list(filter(greaterthan5,ar))

[0.8409063264365227, 0.3938122427826727, 0.61892176767246, 0.9095225423009129]

In [26]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0 -0.637466  1.503852  0.323867
1 -0.322697 -1.522552 -0.783332
2 -0.543086 -0.971228  0.318027
3  0.009121 -2.886453 -1.093116

In [27]:
df.apply(half)

          a         b         c
0 -0.318733  0.751926  0.161934
1 -0.161348 -0.761276 -0.391666
2 -0.271543 -0.485614  0.159014
3  0.004561 -1.443227 -0.546558

In [28]:
def range_func(x):
    return max(x) - min(x)

#x has to be a list, or a column

df.apply(range_func,axis=0)

a    0.646588
b    4.390305
c    1.416983
dtype: float64

In [29]:
df.max() - df.min()

a    0.646588
b    4.390305
c    1.416983
dtype: float64

In [31]:
from functools import reduce

In [32]:
reduce(lambda a, b: a + b, l)

79

In [35]:
reduce(lambda a, b: a if a > b else b, l)

34

In [37]:
import re

In [43]:
#Advance RegEx

text = "That person wears marvelous trousers."

pattern = 'a'
re.findall(pattern, text)

['a', 'a', 'a']

In [40]:
pattern ='[er]'
re.findall(pattern,text)

['e', 'r', 'e', 'r', 'r', 'e', 'r', 'e', 'r']

In [45]:
text = "Is it spelled gray or grey?"
pattern = 'gr[ae]y'
re.findall(pattern,text)

['gray', 'grey']

In [46]:
text = "This is an A and B conversation, so C your way out of it."

pattern = '[A-C]'
re.findall(pattern, text)

['A', 'B', 'C']

In [51]:
text = "I'm not going to the party because 1) Karen is going, 2) I don't like her, and 3) I already have a headache."

pattern = '[1-3]'
re.findall(pattern,text)

['1', '2', '3']

In [56]:
text = "My boss asked me to turn in my TPS reports. \n I told him they were done, but they are not."
pattern = '.'
print(re.findall(pattern, text))

# Every characters except new line (\n)

['M', 'y', ' ', 'b', 'o', 's', 's', ' ', 'a', 's', 'k', 'e', 'd', ' ', 'm', 'e', ' ', 't', 'o', ' ', 't', 'u', 'r', 'n', ' ', 'i', 'n', ' ', 'm', 'y', ' ', 'T', 'P', 'S', ' ', 'r', 'e', 'p', 'o', 'r', 't', 's', '.', ' ', ' ', 'I', ' ', 't', 'o', 'l', 'd', ' ', 'h', 'i', 'm', ' ', 't', 'h', 'e', 'y', ' ', 'w', 'e', 'r', 'e', ' ', 'd', 'o', 'n', 'e', ',', ' ', 'b', 'u', 't', ' ', 't', 'h', 'e', 'y', ' ', 'a', 'r', 'e', ' ', 'n', 'o', 't', '.']

In [60]:
pattern = '[^a-m]'

print(re.findall(pattern, text))

#All characters that are not in the range of lowercase a to lowercase m below

['M', 'y', ' ', 'o', 's', 's', ' ', 's', ' ', ' ', 't', 'o', ' ', 't', 'u', 'r', 'n', ' ', 'n', ' ', 'y', ' ', 'T', 'P', 'S', ' ', 'r', 'p', 'o', 'r', 't', 's', '.', ' ', '\n', ' ', 'I', ' ', 't', 'o', ' ', ' ', 't', 'y', ' ', 'w', 'r', ' ', 'o', 'n', ',', ' ', 'u', 't', ' ', 't', 'y', ' ', 'r', ' ', 'n', 'o', 't', '.']

In [62]:
pattern = '^My boss'

re.findall(pattern,text)

# sets to match a pattern IF IT IS at the beginning of a line.

['My boss']

In [63]:
pattern = 'they are not.$'
print(re.findall(pattern, text))

['they are not.']

In [65]:
text = "The complicit cat interacted with the other caaaats exactly as we expected."

pattern = "ca*t"

re.findall(pattern,text)

#use the * quantifier to match zero or more a's between the letters c and t.
# * = zero or more number of a

['cat', 'ct', 'caaaat', 'ct', 'ct']

In [68]:
text = "The complicit cat interacted with the other caaaats exactly as we expected."

pattern = "ca+t"

re.findall(pattern,text)

#The + quantifier works similarly, but it returns matches where the previous character appears 1 or more times

['cat', 'caaaat']

In [73]:
text = "Let's see how we can match the following: aw, aww, awww, awwww, awwwww"

pattern = "aw{2,}"

re.findall(pattern,text)

['aww', 'awww', 'awwww', 'awwwww']

In [74]:
text = "Let's see how we can match the following: aw, aww, awww, awwww, awwwww"

pattern = "aw{2,3}"

re.findall(pattern,text)

['aww', 'awww', 'awww', 'awww']

In [79]:
text = "If you tell the truth, you don't have to remember anything."
pattern = '\w+'
print(re.findall(pattern, text))

['If', 'you', 'tell', 'the', 'truth', 'you', 'don', 't', 'have', 'to', 'remember', 'anything']

In [82]:
text = "TerraPower, a nuclear-energy company founded by Bill Gates, is unlikely to follow through on building a demonstration reactor in China, due largely to the Trump administration's crackdown on the country."

pattern = '[A-Z][a-z]+'
print(re.findall(pattern, text))

['Terra', 'Power', 'Bill', 'Gates', 'China', 'Trump']

In [86]:
pattern = '([A-Z][a-z]+ ?[A-Z][a-z]+)|([A-Z][a-z]+)'

print(re.findall(pattern, text))

[('TerraPower', ''), ('Bill Gates', ''), ('', 'China'), ('', 'Trump')]

In [88]:
results = [i for j in re.findall(pattern, text) for i in j if i != '']

results

['TerraPower', 'Bill Gates', 'China', 'Trump']

In [90]:
text = """
For eight young men the AP tracked down in Seattle, tech obsession has become something much darker, getting in the way of their normal lives.

"We’re talking flunk-your-classes, can’t-find-a-job, live-in-a-dark-hole kinds of problems, with depression, anxiety and sometimes suicidal thoughts part of the mix," the AP's Martha Irvine reports.
"""

pattern = '".*"'

re.findall(pattern, text)

#double quotes in the text and then returns all the characters ( .)

['"We’re talking flunk-your-classes, can’t-find-a-job, live-in-a-dark-hole kinds of problems, with depression, anxiety and sometimes suicidal thoughts part of the mix,"']