# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas

import numpy as np

import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [82]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [83]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [84]:
# Your code here:

n_leg = pokemon.loc[pokemon['Legendary'] == False]
n_leg['Legendary'].count()

735

In [85]:
leg = pokemon.loc[pokemon['Legendary'] == True]
leg['Legendary'].count()

65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [86]:
# Your code here:
m_nleg = n_leg['Total'].mean()
print(m_nleg)
m_leg = leg['Total'].mean()
print(m_leg)
std_nleg = n_leg['Total'].std()
print(std_nleg)
std_leg = leg['Total'].std()
print(std_leg)

417.21360544217686
637.3846153846154
106.76041745713005
60.93738905315344

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [87]:
# Your code here:
# INDEPENDENT samples: we look at the difference of the means
# mu(after) - mu(before)
# H0: there is no difference
# H1: there is a difference

from scipy.stats import ttest_ind

ttest_ind(n_leg.Total, leg.Total, equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [88]:
# Your conclusions here:
#With 95% confidence interval, since the p-value is close to 0, Ho should be rejected, thus there is 
#a difference between the total points for legendary and non-legendary Pokemon

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [89]:
# Your code here:
 
pokemon[['Type 1','Name']].groupby(['Type 1']).count()

          Name
Type 1
Bug         69
Dark        31
Dragon      32
Electric    44
Fairy       17
Fighting    27
Fire        52
Flying       4
Ghost       32
Grass       70
Ground      32
Ice         24
Normal      98
Poison      28
Psychic     57
Rock        44
Steel       27
Water      112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [90]:
# Your code here:
mean_type1 = pokemon.groupby(['Type 1'])[['Total']].mean()

mean_type1.sort_values(by = ['Total'], ascending = False)

               Total
Type 1
Dragon    550.531250
Steel     487.703704
Flying    485.000000
Psychic   475.947368
Fire      458.076923
Rock      453.750000
Dark      445.741935
Electric  443.409091
Ghost     439.562500
Ground    437.500000
Ice       433.458333
Water     430.455357
Grass     421.142857
Fighting  416.444444
Fairy     413.176471
Normal    401.683673
Poison    399.142857
Bug       378.927536

In [91]:
std_type1 = pokemon.groupby(['Type 1'])[['Total']].std()
std_type1.sort_values(by = ['Total'], ascending = False)

               Total
Type 1
Flying    161.400124
Dragon    146.267538
Psychic   139.026645
Ground    123.913081
Fairy     123.781680
Bug       117.875223
Normal    115.733038
Steel     115.420907
Water     113.188266
Ghost     110.072685
Fire      109.760496
Dark      109.126217
Ice       108.281027
Rock      108.059227
Grass     106.650626
Electric  105.721952
Fighting  102.464378
Poison     92.358687

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [92]:
# Your code here:

from scipy.stats import ttest_1samp

water = mean_type1.loc[['Water']]
water
other= mean_type1.drop(index='Water')
other

stat, pvalue = ttest_1samp(other, water)
stat
pvalue

# columns are not dependent > ttest_ind

array([[0.20320285]])

In [103]:
water = pokemon.loc[pokemon['Type 1'] == 'Water']
water

other= pokemon.drop(pokemon.loc[pokemon['Type 1'] == 'Water'].index)
other

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [104]:
ttest_ind(water.Total, other.Total, equal_var=False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

In [10]:
# Your conclusions here:
#As the p-value is more than 0.05, we can say that the null hypothesis should not be 
#rejected at the 95% confidence level (since 20% > 5%).

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [66]:
# Your code here:
# H0: there is no difference
# H1: there is a difference 

from scipy.stats import ttest_rel
p_d = pokemon['Defense']
p_a = pokemon['Attack']

ttest_rel(p_d, p_a)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

#As the result is very close to zero, the null hypothesis can be rejected. 
#There is a significant difference between each Pokemon's defense and attack scores

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [68]:
# Your code here:

from scipy.stats import ttest_rel
p_sd = pokemon['Sp. Def']
p_sa = pokemon['Sp. Atk']

ttest_rel(p_sd, p_sa)

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

#As the result is more than 5%, the null hypothesis should not be rejected. 
#There isn't a significant difference between each Pokemon's special defense and special attack scores.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [114]:
# Your code here:
#H0 : the difference between the means is not zero.
#H1 : the difference between the means is zero.
pd = pokemon['Defense']
pa_mean = pokemon['Attack'].mean()
stat, pvalue = ttest_1samp(pd, pa_mean)


pvalue

3.3829080435248473e-06

In [115]:
stat

-4.679124590910434

In [ ]:
#As the result is less than 5%, the null hypothesis should be rejected. 
#There isn't a difference between each Pokemon's defense and attack scores means.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

pd.crosstab()

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

from scipy.stats import chi2_contingency

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: