# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [201]:
import pandas as pd

import numpy as np

In [202]:
#import sys
#!{sys.executable} -m pip install tensorflow

In [203]:
tic

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0     2   2   2   2   1   1   2   1   1      1
1     2   2   2   2   1   1   1   2   1      1
2     2   2   2   2   1   1   1   1   2      1
3     2   2   2   2   1   1   1   0   0      1
4     2   2   2   2   1   1   0   1   0      1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
953   1   2   2   2   1   1   1   2   2      0
954   1   2   1   2   2   1   2   1   2      0
955   1   2   1   2   1   2   2   1   2      0
956   1   2   1   1   2   2   2   1   2      0
957   1   1   2   2   2   1   1   2   2      0

[958 rows x 10 columns]

In [204]:
# your code here
# Transform values into categorical values
tic = tic.apply(lambda col:pd.Categorical(col).codes)

tic

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
0     2   2   2   2   1   1   2   1   1      1
1     2   2   2   2   1   1   1   2   1      1
2     2   2   2   2   1   1   1   1   2      1
3     2   2   2   2   1   1   1   0   0      1
4     2   2   2   2   1   1   0   1   0      1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
953   1   2   2   2   1   1   1   2   2      0
954   1   2   1   2   2   1   2   1   2      0
955   1   2   1   2   1   2   2   1   2      0
956   1   2   1   1   2   2   2   1   2      0
957   1   1   2   2   2   1   1   2   2      0

[958 rows x 10 columns]

In [205]:
# Separates the output and input

tic_output = tic['class']

tic_input= tic[['TL','TM','TR','ML','MM','MR','BL','BM','BR']]

In [206]:
# Normalize the input data.
import tensorflow as tf
tic_input_norm = tf.keras.utils.normalize(tic_input, axis=-1, order=2)
tic_input_norm

,TL,TM,TR,ML,MM,MR,BL,BM,BR
0,0.408248,0.408248,0.408248,0.408248,0.204124,0.204124,0.408248,0.204124,0.204124
1,0.408248,0.408248,0.408248,0.408248,0.204124,0.204124,0.204124,0.408248,0.204124
2,0.408248,0.408248,0.408248,0.408248,0.204124,0.204124,0.204124,0.204124,0.408248
3,0.458831,0.458831,0.458831,0.458831,0.229416,0.229416,0.229416,0.000000,0.000000
4,0.458831,0.458831,0.458831,0.458831,0.229416,0.229416,0.000000,0.229416,0.000000
...,...,...,...,...,...,...,...,...,...
953,0.204124,0.408248,0.408248,0.408248,0.204124,0.204124,0.204124,0.408248,0.408248
954,0.204124,0.408248,0.204124,0.408248,0.408248,0.204124,0.408248,0.204124,0.408248
955,0.204124,0.408248,0.204124,0.408248,0.204124,0.408248,0.408248,0.204124,0.408248
956,0.204124,0.408248,0.204124,0.204124,0.408248,0.408248,0.408248,0.204124,0.408248
957,0.204124,0.204124,0.408248,0.408248,0.408248,0.204124,0.204124,0.408248,0.408248

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [207]:
# Split the training and test data.

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(tic_input_norm, tic_output, test_size=0.2, random_state=42)

In [196]:
# Create a Sequential model
model = tf.keras.models.Sequential()

In [95]:
# Add several layers to your model
#https://www.youtube.com/watch?v=wQ8BIBpya2k
#how many layers?

model.add(tf.keras.layers.Flatten()) #flatten our input
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))  #= Default activation function #How many neurons?
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax))  # number of cassification.

In [96]:
# Compile the model using adam as the optimizer and sparse_categorical_crossentropy
# Training of model parameters
# Adam optimizer is the default optimizer
# Loss = degree of errors as neurons try to minimize loss, sparse_categorical_crossentropy = default

model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [97]:
# Fit the training data

model.fit(X_train, y_train, epochs = 3)

Epoch 1/3
WARNING:tensorflow:Layer flatten_1 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

24/24 [==============================] - 0s 1ms/step - loss: 0.6677 - accuracy: 0.6005
Epoch 2/3
24/24 [==============================] - 0s 2ms/step - loss: 0.6326 - accuracy: 0.6540
Epoch 3/3
24/24 [==============================] - 0s 2ms/step - loss: 0.6153 - accuracy: 0.6593

In [98]:
#Calculate the validation loss and accuracy
# Evaluate your neural network model
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

# If there is a huge delta, there is chances that the mosel is overfitting.

6/6 [==============================] - 0s 3ms/step - loss: 0.6158 - accuracy: 0.6510
0.6158425807952881 0.6510416865348816

In [99]:
# Save your model as tic-tac-toe.model.
model.save('tic-tac-toe.model')

WARNING:tensorflow:From /usr/local/Cellar/jupyterlab/2.2.2/libexec/lib/python3.8/site-packages/tensorflow/python/training/tracking/tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
WARNING:tensorflow:From /usr/local/Cellar/jupyterlab/2.2.2/libexec/lib/python3.8/site-packages/tensorflow/python/training/tracking/tracking.py:111: Layer.updates (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
INFO:tensorflow:Assets written to: tic-tac-toe.model/assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [101]:
# your code here
new_model = tf.keras.models.load_model('tic-tac-toe.model')

predictions = new_model.predict([X_test])

predictions

array([[0.25110674, 0.74889326],
       [0.3237652 , 0.67623484],
       [0.3893667 , 0.6106333 ],
       [0.3622219 , 0.6377781 ],
       [0.37344927, 0.62655073],
       [0.19697313, 0.80302685],
       [0.39568004, 0.6043199 ],
       [0.41718596, 0.58281404],
       [0.34353566, 0.6564643 ],
       [0.26232484, 0.73767513],
       [0.3685678 , 0.6314322 ],
       [0.28484678, 0.71515316],
       [0.25634077, 0.7436592 ],
       [0.42715076, 0.5728493 ],
       [0.44126683, 0.55873317],
       [0.22132589, 0.7786741 ],
       [0.28193995, 0.71806014],
       [0.29652464, 0.70347536],
       [0.38337907, 0.6166209 ],
       [0.36012185, 0.63987815],
       [0.4311859 , 0.56881416],
       [0.34322348, 0.6567765 ],
       [0.29666528, 0.7033347 ],
       [0.28211087, 0.71788913],
       [0.33255088, 0.66744906],
       [0.3263132 , 0.6736868 ],
       [0.18054809, 0.8194519 ],
       [0.32924062, 0.6707594 ],
       [0.3610786 , 0.63892144],
       [0.36267936, 0.63732064],
       [0.21415429, 0.78584576],
       [0.3650304 , 0.63496953],
       [0.38654876, 0.61345124],
       [0.41709673, 0.5829033 ],
       [0.39853126, 0.6014688 ],
       [0.23478112, 0.7652189 ],
       [0.31712273, 0.6828773 ],
       [0.26029193, 0.73970807],
       [0.37242612, 0.62757385],
       [0.37785745, 0.62214255],
       [0.29114005, 0.70886   ],
       [0.41635132, 0.5836487 ],
       [0.4583681 , 0.5416319 ],
       [0.24335626, 0.7566437 ],
       [0.3909594 , 0.6090407 ],
       [0.39093205, 0.6090679 ],
       [0.19385655, 0.80614346],
       [0.21969494, 0.7803051 ],
       [0.28472295, 0.715277  ],
       [0.36330187, 0.6366982 ],
       [0.3378264 , 0.66217357],
       [0.4490449 , 0.55095506],
       [0.27626622, 0.7237337 ],
       [0.29951236, 0.7004877 ],
       [0.25154904, 0.748451  ],
       [0.34002832, 0.65997165],
       [0.21777788, 0.78222215],
       [0.24125078, 0.7587492 ],
       [0.41262224, 0.5873778 ],
       [0.2867641 , 0.7132359 ],
       [0.25276518, 0.7472349 ],
       [0.2966329 , 0.7033671 ],
       [0.4175259 , 0.5824742 ],
       [0.20530812, 0.7946919 ],
       [0.24996272, 0.75003725],
       [0.27792695, 0.722073  ],
       [0.25150883, 0.7484911 ],
       [0.42474735, 0.57525265],
       [0.3853052 , 0.61469483],
       [0.34688964, 0.6531103 ],
       [0.38104367, 0.6189564 ],
       [0.25458992, 0.7454101 ],
       [0.38053885, 0.6194612 ],
       [0.36180577, 0.63819414],
       [0.22754817, 0.7724519 ],
       [0.18552722, 0.8144728 ],
       [0.2706349 , 0.72936517],
       [0.3547937 , 0.64520633],
       [0.24065222, 0.7593478 ],
       [0.36377242, 0.6362276 ],
       [0.26978284, 0.73021716],
       [0.39371052, 0.6062895 ],
       [0.26086748, 0.73913246],
       [0.38555297, 0.61444706],
       [0.19987662, 0.8001234 ],
       [0.33715782, 0.66284215],
       [0.18162769, 0.81837237],
       [0.2972819 , 0.7027181 ],
       [0.28995088, 0.7100491 ],
       [0.22367768, 0.7763223 ],
       [0.25620723, 0.7437928 ],
       [0.29301235, 0.7069877 ],
       [0.35324264, 0.6467573 ],
       [0.31979692, 0.6802031 ],
       [0.26370412, 0.7362959 ],
       [0.2843191 , 0.71568096],
       [0.4652884 , 0.5347116 ],
       [0.32218477, 0.6778152 ],
       [0.27398974, 0.72601026],
       [0.33556098, 0.664439  ],
       [0.48933265, 0.5106673 ],
       [0.3400106 , 0.6599894 ],
       [0.44302595, 0.556974  ],
       [0.27276987, 0.72723013],
       [0.34752992, 0.65247005],
       [0.34837246, 0.6516275 ],
       [0.19891816, 0.8010818 ],
       [0.24105665, 0.7589433 ],
       [0.27620324, 0.7237968 ],
       [0.34364274, 0.6563572 ],
       [0.34981957, 0.65018046],
       [0.3991869 , 0.6008131 ],
       [0.33780265, 0.66219735],
       [0.24717729, 0.75282264],
       [0.35122362, 0.6487764 ],
       [0.18479365, 0.81520635],
       [0.30808985, 0.69191015],
       [0.4007273 , 0.59927267],
       [0.49421233, 0.5057877 ],
       [0.490875  , 0.509125  ],
       [0.34559143, 0.6544086 ],
       [0.43814906, 0.5618509 ],
       [0.32379618, 0.67620385],
       [0.40347314, 0.59652686],
       [0.32610708, 0.6738929 ],
       [0.18852906, 0.8114709 ],
       [0.35345066, 0.64654934],
       [0.24998145, 0.75001854],
       [0.28055325, 0.7194467 ],
       [0.30658236, 0.69341755],
       [0.37287858, 0.6271214 ],
       [0.31552434, 0.68447566],
       [0.4922465 , 0.50775343],
       [0.23740345, 0.76259655],
       [0.32682344, 0.6731766 ],
       [0.19426765, 0.80573237],
       [0.2940211 , 0.70597893],
       [0.34462705, 0.6553729 ],
       [0.32802442, 0.6719757 ],
       [0.34688938, 0.6531106 ],
       [0.29488966, 0.7051103 ],
       [0.2890296 , 0.7109704 ],
       [0.29443347, 0.7055666 ],
       [0.29545692, 0.7045431 ],
       [0.34624347, 0.65375656],
       [0.31860423, 0.6813958 ],
       [0.42090258, 0.57909745],
       [0.4257966 , 0.5742034 ],
       [0.1995888 , 0.8004112 ],
       [0.30915654, 0.69084346],
       [0.30637577, 0.6936242 ],
       [0.24384977, 0.75615025],
       [0.28281793, 0.71718204],
       [0.26582348, 0.7341766 ],
       [0.28203186, 0.7179681 ],
       [0.27688906, 0.723111  ],
       [0.25627312, 0.74372685],
       [0.2830787 , 0.7169213 ],
       [0.47244412, 0.5275559 ],
       [0.33209527, 0.66790473],
       [0.43798754, 0.56201243],
       [0.25719732, 0.7428027 ],
       [0.40412918, 0.59587085],
       [0.17156205, 0.828438  ],
       [0.261236  , 0.73876405],
       [0.2593518 , 0.74064827],
       [0.1585549 , 0.84144515],
       [0.2665424 , 0.73345757],
       [0.19532312, 0.80467683],
       [0.35057274, 0.6494273 ],
       [0.34538558, 0.6546143 ],
       [0.33757803, 0.662422  ],
       [0.32281747, 0.6771825 ],
       [0.34208468, 0.65791535],
       [0.30340683, 0.69659317],
       [0.3209163 , 0.67908376],
       [0.46415448, 0.53584546],
       [0.25080743, 0.74919266],
       [0.32667476, 0.67332524],
       [0.28084603, 0.719154  ],
       [0.24275957, 0.7572404 ],
       [0.25181487, 0.7481851 ],
       [0.25405586, 0.7459442 ],
       [0.23771177, 0.7622882 ],
       [0.22825095, 0.771749  ],
       [0.2900247 , 0.7099753 ],
       [0.3839367 , 0.61606324],
       [0.36003402, 0.6399659 ],
       [0.3459672 , 0.6540328 ],
       [0.27608728, 0.7239127 ],
       [0.35138658, 0.6486134 ],
       [0.22545418, 0.77454585]], dtype=float32)

In [102]:
import numpy as np

print(np.argmax(predictions[0]))

# the predictions for Xtest 0 is a 1.

1

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [167]:
# your code here

model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax))

In [168]:
opt = tf.keras.optimizers.Adam(learning_rate=0.5)
var1 = tf.Variable(10.0)
loss = lambda: (var1 ** 2)/2.0       # d(loss)/d(var1) == var1
step_count = opt.minimize(loss, [var1]).numpy()
# The first step is `-learning_rate*sign(grad)`
var1.numpy()

9.5

In [169]:
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [170]:
model.fit(X_train, y_train, epochs = 3)

Epoch 1/3
24/24 [==============================] - 0s 1ms/step - loss: 0.6487 - accuracy: 0.6436
Epoch 2/3
24/24 [==============================] - 0s 2ms/step - loss: 0.6158 - accuracy: 0.6828
Epoch 3/3
24/24 [==============================] - 0s 1ms/step - loss: 0.5755 - accuracy: 0.7232

In [175]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

6/6 [==============================] - 0s 1ms/step - loss: 0.5049 - accuracy: 0.8021
0.5048965811729431 0.8020833134651184

In [ ]:
#Second attempt:

In [171]:
# your code here

model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax))

In [172]:
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [173]:
model.fit(X_train, y_train, epochs = 12)

Epoch 1/12
24/24 [==============================] - 0s 2ms/step - loss: 0.6114 - accuracy: 0.6867
Epoch 2/12
24/24 [==============================] - 0s 2ms/step - loss: 0.5140 - accuracy: 0.7728
Epoch 3/12
24/24 [==============================] - 0s 2ms/step - loss: 0.4941 - accuracy: 0.7833
Epoch 4/12
24/24 [==============================] - 0s 2ms/step - loss: 0.4417 - accuracy: 0.8094
Epoch 5/12
24/24 [==============================] - 0s 2ms/step - loss: 0.4509 - accuracy: 0.8016
Epoch 6/12
24/24 [==============================] - 0s 2ms/step - loss: 0.4351 - accuracy: 0.8211
Epoch 7/12
24/24 [==============================] - 0s 2ms/step - loss: 0.3789 - accuracy: 0.8446
Epoch 8/12
24/24 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8394
Epoch 9/12
24/24 [==============================] - 0s 3ms/step - loss: 0.3658 - accuracy: 0.8407
Epoch 10/12
24/24 [==============================] - 0s 2ms/step - loss: 0.3147 - accuracy: 0.8786
Epoch 11/12
24/24 [==============================] - 0s 2ms/step - loss: 0.3669 - accuracy: 0.8473
Epoch 12/12
24/24 [==============================] - 0s 2ms/step - loss: 0.3239 - accuracy: 0.8734

In [174]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

6/6 [==============================] - 0s 1ms/step - loss: 0.5049 - accuracy: 0.8021
0.5048965811729431 0.8020833134651184

In [208]:
#Third attempt:

In [209]:
# your code here

model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(128, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax))

In [210]:
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [211]:
model.fit(X_train, y_train, epochs = 20)

Epoch 1/20
24/24 [==============================] - 0s 2ms/step - loss: 0.4379 - accuracy: 0.8838
Epoch 2/20
24/24 [==============================] - 0s 2ms/step - loss: 0.1758 - accuracy: 0.9426
Epoch 3/20
24/24 [==============================] - 0s 2ms/step - loss: 0.1796 - accuracy: 0.9243
Epoch 4/20
24/24 [==============================] - 0s 2ms/step - loss: 0.1182 - accuracy: 0.9621
Epoch 5/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0878 - accuracy: 0.9674
Epoch 6/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0591 - accuracy: 0.9804
Epoch 7/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0619 - accuracy: 0.9765
Epoch 8/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0588 - accuracy: 0.9752
Epoch 9/20
24/24 [==============================] - 0s 2ms/step - loss: 0.1210 - accuracy: 0.9504
Epoch 10/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0761 - accuracy: 0.9752
Epoch 11/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0225 - accuracy: 0.9961
Epoch 12/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0214 - accuracy: 0.9922
Epoch 13/20
24/24 [==============================] - 0s 3ms/step - loss: 0.0341 - accuracy: 0.9843
Epoch 14/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0669 - accuracy: 0.9713
Epoch 15/20
24/24 [==============================] - 0s 3ms/step - loss: 0.1082 - accuracy: 0.9634
Epoch 16/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0280 - accuracy: 0.9909
Epoch 17/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0103 - accuracy: 0.9974
Epoch 18/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0047 - accuracy: 0.9987
Epoch 19/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0036 - accuracy: 0.9974
Epoch 20/20
24/24 [==============================] - 0s 2ms/step - loss: 0.0315 - accuracy: 0.9909

In [212]:
val_loss, val_acc = model.evaluate(X_test, y_test)
print(val_loss, val_acc)

6/6 [==============================] - 0s 1ms/step - loss: 0.6189 - accuracy: 0.8802
0.6189010739326477 0.8802083134651184

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here